* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-format {
    padding-left: 200px;
    padding-right: 200px;
}

@media screen and (max-width:600px){
    .page-format{
        margin-left: 50px;
        margin-right: 50px;
    }
}

.mheader {grid-area: head;}
.mmain {
    grid-area: main;
    display: flex;
    justify-content: space-around;
}
.mfooter {
    grid-area: foot;
    text-align: center;
}

.mfooter::before {
    content: "";
    display: block;
    height: 20px;
    margin-top: 10px;
}

.page-format {
    display: grid;
    grid-template-areas:
    "head head head"
    "main main main"
    "foot foot foot";
    gap: 10px;
}
.mnavbar {
    overflow: hidden;
    font-family: helvetica;
}

.mnavbar a {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mnavbar a:hover {
    background-color: black;
    color: white;
}

.mdropdown {
    float: left;
    overflow: hidden;
}

.mdropdown .mdropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.mnavbar a:hover, .mdropdown:hover .mdropbtn {
    background-color: black;
    color: white;
}

.mdropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.mdropdown-content a {
    font-size: 14px;
    float: none;
    color: black;
    font-weight: lighter;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.mdropdown-content a:hover {
    font-size: 14px;
    text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333;
    background-color: white;
    color: black;
}

.mdropdown:hover .mdropdown-content {
    display: block;
}

/* -----------------search bar--------------*/
.mnavbar .search-container {
    float: right;
}

.mnavbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 16px;
    border: black;
}

.mnavbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 16px;
    border: black;
    cursor: pointer;
}

.mnavbar .search-container button:hover {
    background: black;
}
/* --------------------------search bar-----------------------------*/

/* ----------general button----------*/
.mbutton-left {
    float: left;
    background-color: inherit;
    border: none;
    padding: 14px 16px;
    cursor: pointer;
}

.mbutton-right {
    float: right;
    background-color: inherit;
    border: none;
    padding: 14px 16px;
    cursor: pointer;
}

.mbutton-left:hover {
    background-color: black;
    color:white;
    font-size: 14px;
}

.mbutton-right:hover {
    background-color: black;
    color:white;
    font-size: 14px;
}

/*----------slide animation---------*/
.my-slide {
    display: none;
}

.slide-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

.big-image-container {
    position: relative;
    text-align: center;
    color: white;
    padding: 14px 16px;
}

.big-image-container img {
    border-radius: 20px;
}

.image-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-big-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 300px;
}

.gallery {
    border: 1px solid black;
    border-radius: 5px;
}

.gallery:hover {
    border: 2px solid black;
}

.gallery img {
    width: 100%;
    height: auto;
}

.image-description {
    padding: 15px;
    text-align: center;
    position: relative;
}

.image-responsive {
    padding: 0 6px;
    width: 24.99999%;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .image-responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .image-responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.text-dark-tangerine {
    color: #FCA311;
}
